## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type = application_df['APPLICATION_TYPE'].value_counts()
type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type.iloc[8:].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
classification_count[classification_count>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count.iloc[10:].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      773
C1700      287
C4000      194
C5000      116
C1270      114
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df, dtype= int)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [16]:
y = application_numeric['IS_SUCCESSFUL'].values

In [17]:
X= application_numeric.drop(columns = 'IS_SUCCESSFUL').values
X

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]])

In [18]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [36]:
X_train.shape

(25724, 48)

In [37]:
y_train.shape

(25724,)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=48, units=5, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 5)                 245

 dense_22 (Dense)            (None, 3)                 18

 dense_23 (Dense)            (None, 1)                 4

=================================================================
Total params: 267 (1.04 KB)
Trainable params: 267 (1.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 0s 345us/step - loss: 0.6669 - accuracy: 0.6266
Epoch 2/100
804/804 [==============================] - 0s 336us/step - loss: 0.6131 - accuracy: 0.6987
Epoch 3/100
804/804 [==============================] - 0s 328us/step - loss: 0.5940 - accuracy: 0.7107
Epoch 4/100
804/804 [==============================] - 0s 327us/step - loss: 0.5757 - accuracy: 0.7273
Epoch 5/100
804/804 [==============================] - 0s 328us/step - loss: 0.5718 - accuracy: 0.7282
Epoch 6/100
804/804 [==============================] - 0s 327us/step - loss: 0.5702 - accuracy: 0.7281
Epoch 7/100
804/804 [==============================] - 0s 327us/step - loss: 0.5694 - accuracy: 0.7292
Epoch 8/100
804/804 [==============================] - 0s 364us/step - loss: 0.5686 - accuracy: 0.7287
Epoch 9/100
804/804 [==============================] - 0s 331us/step - loss: 0.5681 - accuracy: 0.7292
Epoch 10/100
804/804 [==============================] - 0s 328us/step - loss: 0.5680 - accuracy: 0.7299
Epoch 11/100
804/804 [==============================] - 0s 327us/step - loss: 0.5678 - accuracy: 0.7294
Epoch 12/100
804/804 [==============================] - 0s 329us/step - loss: 0.5675 - accuracy: 0.7302
Epoch 13/100
804/804 [==============================] - 0s 329us/step - loss: 0.5674 - accuracy: 0.7312
Epoch 14/100
804/804 [==============================] - 0s 328us/step - loss: 0.5673 - accuracy: 0.7306
Epoch 15/100
804/804 [==============================] - 0s 326us/step - loss: 0.5672 - accuracy: 0.7304
Epoch 16/100
804/804 [==============================] - 0s 328us/step - loss: 0.5668 - accuracy: 0.7303
Epoch 17/100
804/804 [==============================] - 0s 329us/step - loss: 0.5671 - accuracy: 0.7296
Epoch 18/100
804/804 [==============================] - 0s 328us/step - loss: 0.5669 - accuracy: 0.7307
Epoch 19/100
804/804 [==============================] - 0s 328us/step - loss: 0.5666 - accuracy: 0.7309
Epoch 20/100
804/804 [==============================] - 0s 327us/step - loss: 0.5667 - accuracy: 0.7315
Epoch 21/100
804/804 [==============================] - 0s 328us/step - loss: 0.5668 - accuracy: 0.7311
Epoch 22/100
804/804 [==============================] - 0s 327us/step - loss: 0.5665 - accuracy: 0.7315
Epoch 23/100
804/804 [==============================] - 0s 326us/step - loss: 0.5664 - accuracy: 0.7322
Epoch 24/100
804/804 [==============================] - 0s 326us/step - loss: 0.5660 - accuracy: 0.7312
Epoch 25/100
804/804 [==============================] - 0s 327us/step - loss: 0.5656 - accuracy: 0.7318
Epoch 26/100
804/804 [==============================] - 0s 328us/step - loss: 0.5655 - accuracy: 0.7317
Epoch 27/100
804/804 [==============================] - 0s 326us/step - loss: 0.5655 - accuracy: 0.7320
Epoch 28/100
804/804 [==============================] - 0s 327us/step - loss: 0.5654 - accuracy: 0.7323
Epoch 29/100
804/804 [==============================] - 0s 327us/step - loss: 0.5652 - accuracy: 0.7329
Epoch 30/100
804/804 [==============================] - 0s 328us/step - loss: 0.5653 - accuracy: 0.7321
Epoch 31/100
804/804 [==============================] - 0s 329us/step - loss: 0.5652 - accuracy: 0.7320
Epoch 32/100
804/804 [==============================] - 0s 328us/step - loss: 0.5651 - accuracy: 0.7320
Epoch 33/100
804/804 [==============================] - 0s 334us/step - loss: 0.5652 - accuracy: 0.7323
Epoch 34/100
804/804 [==============================] - 0s 331us/step - loss: 0.5649 - accuracy: 0.7321
Epoch 35/100
804/804 [==============================] - 0s 329us/step - loss: 0.5642 - accuracy: 0.7324
Epoch 36/100
804/804 [==============================] - 0s 327us/step - loss: 0.5640 - accuracy: 0.7317
Epoch 37/100
804/804 [==============================] - 0s 329us/step - loss: 0.5640 - accuracy: 0.7325
Epoch 38/100
804/804 [==============================] - 0s 328us/step - loss: 0.5620 - accuracy: 0.7315
Epoch 39/100
804/804 [==============================] - 0s 369us/step - loss: 0.5613 - accuracy: 0.7320
Epoch 40/100
804/804 [==============================] - 0s 328us/step - loss: 0.5606 - accuracy: 0.7319
Epoch 41/100
804/804 [==============================] - 0s 328us/step - loss: 0.5607 - accuracy: 0.7321
Epoch 42/100
804/804 [==============================] - 0s 329us/step - loss: 0.5606 - accuracy: 0.7322
Epoch 43/100
804/804 [==============================] - 0s 328us/step - loss: 0.5606 - accuracy: 0.7318
Epoch 44/100
804/804 [==============================] - 0s 328us/step - loss: 0.5604 - accuracy: 0.7318
Epoch 45/100
804/804 [==============================] - 0s 328us/step - loss: 0.5603 - accuracy: 0.7316
Epoch 46/100
804/804 [==============================] - 0s 329us/step - loss: 0.5602 - accuracy: 0.7322
Epoch 47/100
804/804 [==============================] - 0s 329us/step - loss: 0.5602 - accuracy: 0.7326
Epoch 48/100
804/804 [==============================] - 0s 328us/step - loss: 0.5600 - accuracy: 0.7319
Epoch 49/100
804/804 [==============================] - 0s 329us/step - loss: 0.5602 - accuracy: 0.7325
Epoch 50/100
804/804 [==============================] - 0s 329us/step - loss: 0.5599 - accuracy: 0.7326
Epoch 51/100
804/804 [==============================] - 0s 329us/step - loss: 0.5600 - accuracy: 0.7327
Epoch 52/100
804/804 [==============================] - 0s 327us/step - loss: 0.5599 - accuracy: 0.7331
Epoch 53/100
804/804 [==============================] - 0s 328us/step - loss: 0.5595 - accuracy: 0.7332
Epoch 54/100
804/804 [==============================] - 0s 332us/step - loss: 0.5598 - accuracy: 0.7327
Epoch 55/100
804/804 [==============================] - 0s 328us/step - loss: 0.5596 - accuracy: 0.7329
Epoch 56/100
804/804 [==============================] - 0s 330us/step - loss: 0.5595 - accuracy: 0.7329
Epoch 57/100
804/804 [==============================] - 0s 329us/step - loss: 0.5594 - accuracy: 0.7327
Epoch 58/100
804/804 [==============================] - 0s 331us/step - loss: 0.5595 - accuracy: 0.7332
Epoch 59/100
804/804 [==============================] - 0s 329us/step - loss: 0.5594 - accuracy: 0.7325
Epoch 60/100
804/804 [==============================] - 0s 370us/step - loss: 0.5594 - accuracy: 0.7327
Epoch 61/100
804/804 [==============================] - 0s 331us/step - loss: 0.5593 - accuracy: 0.7331
Epoch 62/100
804/804 [==============================] - 0s 332us/step - loss: 0.5595 - accuracy: 0.7327
Epoch 63/100
804/804 [==============================] - 0s 329us/step - loss: 0.5593 - accuracy: 0.7328
Epoch 64/100
804/804 [==============================] - 0s 329us/step - loss: 0.5594 - accuracy: 0.7332
Epoch 65/100
804/804 [==============================] - 0s 328us/step - loss: 0.5592 - accuracy: 0.7332
Epoch 66/100
804/804 [==============================] - 0s 329us/step - loss: 0.5594 - accuracy: 0.7332
Epoch 67/100
804/804 [==============================] - 0s 328us/step - loss: 0.5592 - accuracy: 0.7327
Epoch 68/100
804/804 [==============================] - 0s 328us/step - loss: 0.5591 - accuracy: 0.7325
Epoch 69/100
804/804 [==============================] - 0s 330us/step - loss: 0.5590 - accuracy: 0.7332
Epoch 70/100
804/804 [==============================] - 0s 340us/step - loss: 0.5591 - accuracy: 0.7329
Epoch 71/100
804/804 [==============================] - 0s 332us/step - loss: 0.5591 - accuracy: 0.7327
Epoch 72/100
804/804 [==============================] - 0s 329us/step - loss: 0.5590 - accuracy: 0.7326
Epoch 73/100
804/804 [==============================] - 0s 330us/step - loss: 0.5590 - accuracy: 0.7332
Epoch 74/100
804/804 [==============================] - 0s 330us/step - loss: 0.5590 - accuracy: 0.7331
Epoch 75/100
804/804 [==============================] - 0s 329us/step - loss: 0.5589 - accuracy: 0.7330
Epoch 76/100
804/804 [==============================] - 0s 369us/step - loss: 0.5590 - accuracy: 0.7330
Epoch 77/100
804/804 [==============================] - 0s 328us/step - loss: 0.5588 - accuracy: 0.7333
Epoch 78/100
804/804 [==============================] - 0s 330us/step - loss: 0.5588 - accuracy: 0.7324
Epoch 79/100
804/804 [==============================] - 0s 328us/step - loss: 0.5589 - accuracy: 0.7325
Epoch 80/100
804/804 [==============================] - 0s 333us/step - loss: 0.5587 - accuracy: 0.7335
Epoch 81/100
804/804 [==============================] - 0s 341us/step - loss: 0.5589 - accuracy: 0.7325
Epoch 82/100
804/804 [==============================] - 0s 339us/step - loss: 0.5586 - accuracy: 0.7332
Epoch 83/100
804/804 [==============================] - 0s 331us/step - loss: 0.5585 - accuracy: 0.7333
Epoch 84/100
804/804 [==============================] - 0s 330us/step - loss: 0.5585 - accuracy: 0.7330
Epoch 85/100
804/804 [==============================] - 0s 327us/step - loss: 0.5586 - accuracy: 0.7326
Epoch 86/100
804/804 [==============================] - 0s 331us/step - loss: 0.5587 - accuracy: 0.7337
Epoch 87/100
804/804 [==============================] - 0s 330us/step - loss: 0.5584 - accuracy: 0.7332
Epoch 88/100
804/804 [==============================] - 0s 331us/step - loss: 0.5586 - accuracy: 0.7337
Epoch 89/100
804/804 [==============================] - 0s 329us/step - loss: 0.5584 - accuracy: 0.7335
Epoch 90/100
804/804 [==============================] - 0s 332us/step - loss: 0.5585 - accuracy: 0.7331
Epoch 91/100
804/804 [==============================] - 0s 334us/step - loss: 0.5584 - accuracy: 0.7335
Epoch 92/100
804/804 [==============================] - 0s 330us/step - loss: 0.5583 - accuracy: 0.7337
Epoch 93/100
804/804 [==============================] - 0s 368us/step - loss: 0.5585 - accuracy: 0.7334
Epoch 94/100
804/804 [==============================] - 0s 331us/step - loss: 0.5584 - accuracy: 0.7328
Epoch 95/100
804/804 [==============================] - 0s 328us/step - loss: 0.5584 - accuracy: 0.7331
Epoch 96/100
804/804 [==============================] - 0s 329us/step - loss: 0.5583 - accuracy: 0.7331
Epoch 97/100
804/804 [==============================] - 0s 330us/step - loss: 0.5583 - accuracy: 0.7334
Epoch 98/100
804/804 [==============================] - 0s 332us/step - loss: 0.5584 - accuracy: 0.7331
Epoch 99/100
804/804 [==============================] - 0s 330us/step - loss: 0.5582 - accuracy: 0.7336
Epoch 100/100
804/804 [==============================] - 0s 331us/step - loss: 0.5583 - accuracy: 0.7331

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5667 - accuracy: 0.7220 - 133ms/epoch - 495us/step
Loss: 0.566726565361023, Accuracy: 0.721982479095459

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")